<div class="row">
  <div class="span4 h3">
  	<%= profile_photo_for User.find_by_id(rating.user_id) %>
  	<%= User.find_by_id(rating.user_id).name %> says...
  </div>
  <div class="span4 column">
  	<p>
  		<%= conver_to_stars(rating.overall_rating) %>
  	</p>
  	<p>
  		Smell: 
	  	<%= rating.smell1 %>
			<%= rating.smell2 %>
			<%= rating.smell3 %>
		</p>
		<p>
			Taste:
			<%= rating.taste1 %>
			<%= rating.taste2 %>
			<%= rating.taste3 %>
		</p>
  </div>
</div>
<hr class="horizontal-bar">