<% provide(:title, 'Add a new wine') %>
<h1>Add a new wine</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @wine do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :winery %>
      <%= f.text_field :winery %>

      <%= f.label :varietal %>
      <%= f.text_field :varietal %>

      <%= f.label :name, "Wine name (optional)" %>
      <%= f.text_field :name %>

      <%= f.label :vintage %>
      <%= f.select :vintage, Wine::VINTAGES %>

      <%= f.label :region %>
      <%= f.text_field :region %>

      <p></p>

      <%= f.fields_for :ratings do |builder| %>
        <%= render 'rating_fields', f: builder %>
      <% end %>

      <%= link_to_add_fields "Rate it, too", f, :ratings %>

      	
      <%= f.submit "Add wine", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>