<% provide(:title, full_name_for(@wine)) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%=full_name_for @wine %>
      </h1>
        <%= @wine.varietal %>
        <%= @wine.name %>
        <%= @wine.vintage %>
        <%= @wine.region %>
        <%= link_to "edit", edit_wine_path(@wine) %>
    </section>
  </aside>
</div>
