<header class="navbar navbar-fixed-top navbar-inverse">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "wine app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",         root_path %></li>
          <li><%= link_to "Wine collection",  wines_path %></li>
          <li><%= link_to "Add a wine",   new_wine_path %></li>
          <li><%= link_to "Rate a wine",  new_rating_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My wines", current_user %></li>
                <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>